.world-canvas-container {
    min-height: calc(100vh - 60px);
    border: 0;
}

.world-canvas {
    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 384px;
}

.round-button {
    color: var(--bs-btn-color);
    border-radius: 50%;
    border-style: none;
    padding: 6px;
}

.biome-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../../asset/zones.png);
    position: relative;
}

.icon0 {
    background-position: 0px 0px;
}

.icon1 {
    background-position: -32px 0px;
}

.icon2 {
    background-position: -64px 0px;
}

.icon3 {
    background-position: -96px 0px;
}

.icon4 {
    background-position: -128px 0px;
}

.icon5 {
    background-position: 0px -32px;
}

.icon6 {
    background-position: -32px -32px;
}

.icon7 {
    background-position: -64px -32px;
}

.icon8 {
    background-position: -96px -32px;
}

.icon9 {
    background-position: -128px -32px;
}

.icon10 {
    background-position: 0px -64px;
}

.icon11 {
    background-position: -32px -64px;
}

.icon12 {
    background-position: -64px -64px;
}

.icon13 {
    background-position: -96px -64px;
}

.icon14 {
    background-position: -128px -64px;
}

.icon15 {
    background-position: 0px -96px;
}

.icon16 {
    background-position: -32px -96px;
}

.icon17 {
    background-position: -64px -96px;
}

.icon18 {
    background-position: -96px -96px;
}

.icon19 {
    background-position: -128px -96px;
}

.icon20 {
    background-position: 0px -128px;
}

.icon21 {
    background-position: -32px -128px;
}

.icon22 {
    background-position: -64px -128px;
}

.icon23 {
    background-position: -96px -128px;
}

.icon24 {
    background-position: -128px -128px;
}

.icon25 {
    background-position: 0px -160px;
}

.icon26 {
    background-position: -32px -160px;
}

.icon27 {
    background-position: -64px -160px;
}

.icon28 {
    background-position: -96px -160px;
}

.icon29 {
    background-position: -128px -160px;
}
